@import '../vendor/twbs/bootstrap/scss/functions';
@import '../vendor/twbs/bootstrap/scss/variables';
@import '../vendor/twbs/bootstrap/scss/mixins';

$iwgbRed: #c0392b;
$iwgbRedDark: #962d22;
$iwgbRedLight: #d65548;