{% extends 'root.html.twig' %}

{% block body %}
    <div>
        <h1 class="global__heading font-weight-light">New folder</h1>
    </div>
    <div class="row mt-5">
        <form action="/newFolder"
              method="post"
              enctype="multipart/form-data"
              class="col-md-6"
        >
            <input type="hidden" name="path" value="{{ path }}">

            <label for="name">Letters, numbers or hyphens.</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"
                          id="path"
                    >
                        {{ path }}
                    </span>
                </div>
                <input type="text"
                       class="form-control"
                       name="name"
                       id="name"
                       aria-describedby="path"
                       placeholder="Folder name"
                >
            </div>
            <input type="submit"
                   class="btn btn-iwgb"
                   value="Create"
            >
        </form>
    </div>
{% endblock %}